.App {
  text-align: center;
}

/* Begin Navbar Section*/

/* Navbar bar */
.navbar {
  background-color: #131921;
  /* color: white; */
}

/* Stockify Title */
.navbar-brand {
  font-weight: bolder;
  font-style: italic;
  font-size: 3rem !important;
  color: #f19276;
  font-family: 'Poppins', sans-serif;
}

/* Sign in prompt */
.nav-text {
  margin-left: 15px;
  margin-top: 5px;
  margin-right: 15px;
}

.btn-loginout {
  width: 125px !important;
  font-size: 1.5rem !important;
  background-color: #f19276 !important;
  border-color: #f19276 !important;
}

.jumbotron {
  background-color: #d8eef7;
  max-height: 310px;
  padding: 10px;
  padding-bottom: 70px;
}

.product-search {
  margin-right: 10px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  width: 75% !important;
}

.search-title {
  color: black;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 2px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.search-text {
  font-size: 15px;
  font-weight: 20px;
  margin-top: -2px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.search-col {
  margin-top: 70px;
  margin-left: 5px;
}

.form {
  width: 900px;
}
/* product */

.product-container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.product-card {
  width: 50%;
  margin: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.product-photo {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.product-button-yes_no {
  display: inline-block;
}

/* need help centering photo */
.new-product-photo {
  text-align: center;
}

.product-output {
  margin-top: 40px;
}

.product-details,
.product-name,
.product-price,
.product-status {
  text-align: left;
}

.product-btn {
  margin: 2px;
  width: 100px;
  margin-top: 10px;
}

.product-page {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.product-found {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 2px;
}

.product-subtext {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

/* saved product list */

.product-saved-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 30px;
}

.photo-small {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 30px;
}

.btn-col {
  float: right;
}

.view-btn {
  background-color: #f19276;
  border: #f19276;
  align-items: right;
}

.spinner {
  text-align: center;
}

.loading {
  color: #00bfff;
  font-weight: bold;
  font-size: 20px;
}
/* info banner card */

.info-card {
  background-color: white;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  padding-bottom: 40px;
  color: black;
  border: none;
}

/* top banner */

.top-banner {
  background-color: #232f3e;
  font-weight: 20px;
  font-style: italic;
  color: white;
  padding-top: 20px;
}

@media screen and (max-width: 992px) {
  .top-banner {
    height: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 993px) {
  .top-banner {
    height: 60px;
    text-align: center;
  }
}

/* product photo */
@media screen and (max-width: 992px) {
  .new-product-photo {
    width: 100px;
  }
}

@media screen and (min-width: 993px) {
  .new-product-photo {
    width: 300px;
  }
}

.center {
  align-items: center;
}

.icon {
  width: 100px;
  color: #232f3e;
}

.fa-search,
.fa-cart-arrow-down,
.fa-smile {
  color: #232f3e;
}

.banner-title {
  font-size: 50px;
}

/* saved card Delete & Update */

.btn-delete {
  max-height: 35px;
}
