.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Index page - product search */
.jumbotron {
  background-color: #d8eef7;
  margin: 40px;
  max-height: 300px;
  padding: 10px;
}

.input-col {
  margin-top: 60px;
  margin-left: 30px;
}

.product-search {
  /* margin-top: 20px; */
  width: 1000px;
  margin-right: 10px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.search-title {
  color: black;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 2px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.search-text {
  font-size: 15px;
  font-weight: 20px;
  margin-top: -2px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.search-col {
  margin-top: 70px;
  margin-left: 10px;
}

/* Navbar */

.navbar-brand {
  font-weight: bolder;
  font-style: italic;
  color: #f19276;
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  color: black;
}

/* product */

.product-container {
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}

.product-photo {
  width: 200px;
  height: 190px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.product-output {
  margin-top: 40px;
}

.product-details,
.product-name,
.product-price,
.product-status {
  text-align: left;
}

.product-btn {
  float: left;
  margin: 2px;
  width: 100px;
}

.product-page {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.product-found {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 2px;
}

.product-subtext {
  font-size: 15px;
  font-weight: 20px;
  margin-top: -2px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* saved product list */

.product-saved-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 30px;
}

.photo-small {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 30px;
}

.btn-col {
  float: right;
}

.view-btn {
  background-color: #f19276;
  border: #f19276;
  float: right;
  margin-right: 50px;
}
